                <!-- End of REST API explanation -->
                </p>
              </div>
            </div>

            <!-- Images section -->
            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-blue">
                Images related content
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-blue">
                  List of all images linked to this REST API
                  <span class="tm-title-small">(This can be seen as an image API linked to the above REST API since types and IDs are the same)</span>
                </h3>

                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Description</th>
                        <th scope="col">API call</th>
                        <th scope="col">Example</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Attack classes</th>
                        <td><i>images/attack_classes/{id}.png</i></td>
                        <td><img src="images/attack_classes/1.png" style="max-width:100px"></td>
                      </tr>
                      <tr>
                        <th scope="row">Badges</th>
                        <td><i>images/badges/{id}.png</i></td>
                        <td><img src="images/badges/1.png" style="max-width:100px"></td>
                      </tr>
                      <tr>
                        <th scope="row">Genders</th>
                        <td><i>images/genders/{id}.png</i></td>
                        <td><img src="images/genders/1.png" style="max-width:100px"></td>
                      </tr>
                      <tr>
                        <th scope="row">Item pockets</th>
                        <td><i>images/item_pockets/{none|selected}/{id}.png</i></td>
                        <td><img src="images/item_pockets/1.png" style="max-width:100px">
                            <img src="images/item_pockets/selected/1.png" style="max-width:100px"></td>
                      </tr>
                      <tr>
                        <th scope="row">Languages</th>
                        <td><i>images/languages/{id}.png</i></td>
                        <td><img src="images/languages/EN.png" style="max-width:100px"></td>
                      </tr>
                      <tr>
                        <th scope="row">Non player character</th>
                        <td><i>images/npcs/{none|animated}/{id}.png</i></td>
                        <td><img src="images/npcs/1.png" style="max-width:100px">
                            <img src="images/npcs/animated/1.png" style="max-width:100px"></td>
                      </tr>
                      <tr>
                        <th scope="row">Pokemon habitats</th>
                        <td><i>images/pokemon_habitats/{id}.png</i></td>
                        <td><img src="images/pokemon_habitats/1.png" style="max-width:100px"></td>
                      </tr>
                      <tr>
                        <th scope="row">Pokemon shapes</th>
                        <td><i>images/pokemon_shapes/{id}.png</i></td>
                        <td><img src="images/pokemon_shapes/1.png" style="max-width:100px"></td>
                      </tr>
                      <tr>
                        <th scope="row">Pokemons</th>
                        <td><i>images/pokemons/{none|animated|footprints |left|right |up|down|shiny/left|shiny/right |shiny/up|shiny/down}/{id}.png</i></td>
                        <td><img src="images/pokemons/animated/1.gif" style="max-width:100px">
                            <img src="images/pokemons/footprints/1.png" style="max-width:100px">
                            <img src="images/pokemons/1.png" style="max-width:100px">
                            <img src="images/pokemons/left/1.png" style="max-width:100px">
                            <img src="images/pokemons/right/1.png" style="max-width:100px">
                            <img src="images/pokemons/up/1.png" style="max-width:100px">
                            <img src="images/pokemons/down/1.png" style="max-width:100px">
                            <img src="images/pokemons/shiny/left/1.png" style="max-width:100px">
                            <img src="images/pokemons/shiny/right/1.png" style="max-width:100px">
                            <img src="images/pokemons/shiny/up/1.png" style="max-width:100px">
                            <img src="images/pokemons/shiny/down/1.png" style="max-width:100px"></td>
                      </tr>
                      <tr>
                        <th scope="row">Regions</th>
                        <td><i>images/regions/{id}.png</i></td>
                        <td><img src="images/regions/1.png" style="max-width:100px"></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End images section -->

    <!-- footer section -->
    <div>
      <div class="container-fluid">
        <div class="row">
          <footer class="col-12">
            <p class="text-center tm-copyright-text">
            Copyright 2020 <a href="https://gitlab.com/pokemon-origins">Pokemon Origins API</a>
            - Design: Template Mo</p>
          </footer>
        </div>
      </div>
    </div>
    <!-- End footer section -->

    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script>
      function detectMsBrowser() {
        using_ms_browser =
          navigator.appName == "Microsoft Internet Explorer" ||
          (navigator.appName == "Netscape" &&
            navigator.appVersion.indexOf("Edge") > -1) ||
          (navigator.appName == "Netscape" &&
            navigator.appVersion.indexOf("Trident") > -1);

        if (using_ms_browser == true) {
          alert(
            "Please use Chrome or Firefox for the best browsing experience!"
          );
        }
      }
      function setBrandMarginTop() {
        var bottomContainerHeight = $(".tm-welcome-container").height();

        $(".tm-brand-container-outer").css({
          "margin-top": -bottomContainerHeight + "px"
        });
      }

      $(function() {
        setBrandMarginTop();
        detectMsBrowser();

        // Handle window resize event
        $(window).resize(function() {
          setBrandMarginTop();
        });
      });
    </script>
  </body>
</html>
</html>
